

body {
    font-family: "Lato", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%
}

/* Float the list items side by side */
ul.tab li {
    float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}


div#tags {
    height: 100px;
    width: 200px;
    background: yellow;
    float: right;
}


 .links line {
     stroke: #999;
     stroke-opacity: 0.6;
 }

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

#worldMapContainer{
    width:700px;
    height:475px;
}
